<ion-view view-title="Suas notificações">
<ion-nav-bar class="bar-positive" class="item-icon-right">
      <ion-nav-buttons side="right">
        <button ng-click="clearNotifications()" class="button button-icon button-clear ion-android-delete" >
      </button>
      </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content>
    <ion-list>
    <ion-item ng-repeat="notification in notifications" class="item-icon-left" ng-click="toNotification(notification.title)">

          {{notification.data.title}}
          <p>{{notification.data.hour}}</p>

          <i class="icon ion-android-notifications energized"></i>
    </ion-list>
  </ion-content>
</ion-view>