<ion-view view-title="Editar">
<ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="right">
        <button  ng-click="setSettings()" class="button button-icon button-clear ion-android-done" >
        </button>

      </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content>
     <ul class="list">

  <li class="item item-toggle">
     Desligar notificação
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  
  <div class="item item-divider ">
  Tempo de vibração
  </div>

  <div class="item range">
  <i class="icon ion-android-remove"></i>
  <input type="range" name="volume" step="1000" min="1000" max="5000" value="{{duration}}" ng-model="duration" ng-change="setDuration()">
  <i class="icon ion-android-add"></i>
</div>

</ul>
  </ion-content>
</ion-view>
