<ion-view view-title="Editar">
<ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-checkmark-outline" >
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

  <ion-content>
     <ul class="list">

  <li class="item item-toggle">
     HTML5
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>

</ul>
  </ion-content>
</ion-view>
